body{
	background-image: url('../images/BasketBallBackground.png');
	background-size: 100% ;
}

#font{
	color: orange;
}

#buttonStart{
	margin: auto;
	width: 7%;
	margin-top: 30px;
}

.content{
	margin-top: 30px;
}